%div{:class => "estimate-third-step confirm hidden"}
	-#- if params[:action] == 'edit'
	-#	.row
	-#		.top.notification.large-10.columns Please confirm the changes below and press save to send your changes.

	.row
		.top.notification.large-10.columns Please confirm the changes below and press save to send your changes.


	%table{:class => "line_items selected"}
		%thead
			%tr
				%th.col Item #
				%th.col Description
				%th.col Unit
				%th.col Qty
				%th.col Unit Price
				%th.col Line Total
		%tbody

	%table{:class => "line_items deselected"}
		%tbody

	%div{:class => "actions"}
		%div{:class => "accept-estimate row"}
			-if can_approve_estimate(f.object) && !signed_in_client.is_account_master
				= render :partial => 'approve_button', :locals => {checkbox_hide: "", outstanding_notification_hide: "hidden", client_not_approved_hide: "hidden", f: f}
			-elsif !can_approve_estimate(f.object)
				= render :partial => 'approve_button', :locals => {checkbox_hide: "hidden", outstanding_notification_hide: "", client_not_approved_hide: "hidden", f: f}
			-elsif signed_in_client.is_account_master
				= render :partial => 'approve_button', :locals => {checkbox_hide: "hidden", outstanding_notification_hide: "hidden", client_not_approved_hide: "", f: f}


		-# the logic below seems redundant. We check params before rendering the partial

		= link_to 'Cancel', estimate_path(@estimate), :class => 'medium radius alert button'
		-#-if params[:action] == 'edit'
		-#	= link_to 'Cancel', estimate_path(@estimate), :class => 'medium radius alert button'
		-#-else
		-#	= link_to 'Cancel', estimates_path, :class => 'medium radius alert button'

		= link_to "Back", "#", :class => 'medium radius normal button back'

		-unless @estimate.is_sent
			= f.submit "Save", :class => 'medium radius success button save'

		= f.submit "Send", :name => "send", :class => 'medium radius success button save'
