- if signed_in_client.is_account_master
	.row
		.field{:class => 'three columns'}
			= f.label :client_id
			= f.collection_select(:client_id, @clients, :id, :name, {:include_blank => true}, data: {'url-base' => clients_path}, :class => 'client_select')
			%p.address
				= render 'clients/client_address' if @estimate.client_id

		.field{:class => 'three columns offset-by-four end'}
			=f.label :number
			=f.text_field :number, :class => ''
			.date-select
				=f.label :date
				=f.date_select :date

- else
	.row
		%div{:class => 'four columns client-address'}
			= @client.name
			%br
			= render 'clients/client_address'

		%div{:class => 'three columns offset-by-three'}
			%p
				%strong Estimate Number:
				= @estimate.number

			%p
				%strong Date:
				= @estimate.date

- if params[:action] == 'edit'
	.row
		.div{:class => 'top notification ten columns'} Please review your estimate below. If you are okay with the pricing of a line item, click the thumbs-up button next to the line. If you'd like to make a counter-offer, click the thumbs-down button (where available) and enter your counter-offer and comments.
