= form_for(@estimate) do |f|
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:
				
			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg
	
	.field
		= f.label :number
		%br
		=f.text_field :number
		
	.field
		=f.label :date
		%br
		=f.date_select :date
		
	-if (params[:action]) == 'edit'
		%table.line_items{:cellspacing => 4}
			%tr
				%th
				%th Item #
				%th Description
				%th Qty
				%th Unit Price
				%th Line Total
				%th Delete:
			= f.fields_for :line_items do |builder|
				= render 'line_items', :f => builder
		
	.actions
		= f.submit