= form_for(@estimate) do |f|	
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:
				
			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg
	
	.field
		= f.label :number
		%br
		=f.text_field :number
		
	.field
		=f.label :date
		%br
		=f.date_select :date
	%div	
		%table.line_items{:cellspacing => 4}
			%thead
				%tr
					%th
					%th.col Item #
					%th.col Description
					%th.col Qty
					%th.col Unit Price
					%th.col Line Total
					%th Delete:
			%tbody
				= f.fields_for :line_items do |builder|
					= render 'line_item_fields', :f => builder
				%tr.add_lines
					%td{:colspan => 7}= link_to_add_fields "Add lines", f, :line_items
				%tr.total_line
					%td
					%td{:colspan => 4} Total
					%td.total_price= number_to_currency(@estimate.total_price)
					%td		

	.actions
		= f.submit
		