= form_for(@estimate, :html => {:class => ''}) do |f|
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:

			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg

	- if !signed_in_client.is_account_master && !f.object.already_reviewed
		= render 'step_header'

	= render 'estimate_header', :f => f

	- if !signed_in_client.is_account_master && !f.object.already_reviewed
		= render 'select_estimate', :f => f

	= render 'negotiate_estimate', :f => f

	- if params[:action] == 'edit'
		= render 'confirm_estimate', :f => f

	- if params[:action] == 'new' || params[:action] == 'create'
		%div{:class => "actions"}
			%div{:class => "accept-estimate row"}
				-if can_approve_estimate(f.object) && !signed_in_client.is_account_master
					.checkbox-btn
						= f.check_box :is_accepted
						= f.label :is_accepted, "Approve Estimate"
				-elsif !can_approve_estimate(f.object)
					%div{:class => "notification eight columns"} There are outstanding negotiations that have not been approved yet
				-elsif signed_in_client.is_account_master
					%div{:class => "notification eight columns"} Client has not yet approved estimate


			-if params[:action] == 'edit'
				= link_to 'Cancel', estimate_path(@estimate), :class => 'medium radius alert button'
			-else
				= link_to 'Cancel', estimates_path, :class => 'medium radius alert button'

			- if !signed_in_client.is_account_master && !f.object.already_reviewed
				= link_to "&laquo; Back".html_safe, "#", :class => 'medium radius normal button back'

			= f.submit "Save &raquo;".html_safe , :class => 'medium radius success button save'
