-#%tr{:class => "edit js_edit line_item edit_#{!@disable_form}"}
%tr{:class => "line_item edit_#{!@disable_form}"}
	%td.line_ck= f.check_box :is_enabled
	%td.line_num= f.text_field :number, :disabled => @disable_form
	%td.line_name= f.text_field :name, :disabled => @disable_form
	%td.line_price_type= f.select(:price_type, [['Fixed', 'fixed'], ['Hourly', 'hourly']])
	%td.line_qty
		-if @disable_form
			.line_qty_val= f.object.quantity
			= f.hidden_field :quantity, :class => 'line_qty'
		- else
			= f.text_field :quantity, :class => 'line_qty line_value'
		
		= f.hidden_field :fixed_qty, :class => 'fixed_qty'
		= f.hidden_field :hours_qty, :class => 'hours_qty'
	%td.line_u_price
		- if @disable_form
			.line_unit_price_val= number_with_precision(f.object.unit_price, :precision => 2)
			= f.hidden_field :unit_price, :class => 'line_unit_price', :value => number_with_precision(f.object.unit_price, :precision => 2)
		- else
			= f.text_field :unit_price, :value => number_with_precision(f.object.unit_price, :precision => 2), :class => 'line_unit_price line_value'

		= f.hidden_field :fixed_rate, :class => 'fixed_rate'
		= f.hidden_field :hours_rate, :class => 'hours_rate'
	%td.line_t_price= number_with_precision(f.object.total_price, :precision => 2, :delimiter => ',')
	%td.line_links
		.add_negotiation_line
			= link_to_add_negotiate_fields "Negotiate", f, :negotiate_lines, :class => 'small radius blue button' unless disable_negotiate_button(f.object)
		
	- if !@disable_form
		%td.line_links
			.delete_link= link_to_remove_fields "Delete", f
		
= f.fields_for :negotiate_lines do |builder|
	= render 'negotiate_line_fields', :f => builder
