-# DEPRECATED--FILE NOT BEING USED

%tr{:class => 'negotiate js_edit'}
	%td.line_ck= f.check_box :is_enabled
	%td.line_num= f.text_field :number, :disabled => @disable_form
	%td.line_name= f.text_field :name, :disabled => @disable_form
	%td.line_price_type= f.select(:price_type, [['Fixed', 'fixed'], ['Hourly', 'hourly']])
	%td.line_qty
		.line_qty_val= f.object.quantity
		= f.hidden_field :quantity, :class => 'line_qty'
		= f.hidden_field :fixed_qty, :class => 'fixed_qty'
		= f.hidden_field :hours_qty, :class => 'hours_qty'
	%td.line_u_price
		.line_unit_price_val= number_with_precision(f.object.unit_price, :precision => 2)
		= f.hidden_field :unit_price, :class => 'line_unit_price', :value => number_with_precision(f.object.unit_price, :precision => 2)
		= f.hidden_field :fixed_rate, :class => 'fixed_rate', :value => number_with_precision(f.object.fixed_rate, :precision => 2)
		= f.hidden_field :hours_rate, :class => 'hours_rate', :value => number_with_precision(f.object.hours_rate, :precision => 2)
	%td.line_t_price= number_with_precision(f.object.total_price, :precision => 2, :delimiter => ',')


	-#%td.line_num= f.object.number
	-#%td.line_name= f.object.name
	