= form_for([@account,@estimate], :html => {:class => 'nice'}) do |f|	
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:
				
			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg
	.row

		%div{:class => 'four columns client-address'}
			= @client.name
			%br
			= render 'clients/client_address'
		
		%div{:class => 'three columns offset-by-three'}
			%p
				%strong Estimate Number:
				= @estimate.number

			%p
				%strong Date:
				= @estimate.date
		

	%table{:class => 'line_items estimate_show'}
		%thead
			%tr
				%th
				%th.col Item #
				%th.col Description
				%th.col Unit
				%th.col Qty
				%th.col Unit Price
				%th.col Line Total
				%th
		%tbody
			= f.fields_for :line_items do |builder|
				-#= render 'n_line_item_fields', :f => builder
				= render 'line_item_fields', :f => builder
				-#%tr{:class => 'negotiate js_edit'}
				-#	%td.line_ck= builder.check_box :is_enabled
				-#	%td.line_num= builder.object.number
				-#	%td.line_name= builder.object.name
				-#	%td.line_price_type= builder.select(:price_type, [['Fixed', 'fixed'], ['Hourly', 'hourly']])
				-#	%td.line_qty
				-#		.line_qty_val= builder.object.quantity
				-#		= builder.hidden_field :quantity, :class => 'line_qty'
				-#		= builder.hidden_field :fixed_qty, :class => 'fixed_qty'
				-#		= builder.hidden_field :hours_qty, :class => 'hours_qty'
				-#	%td.line_u_price
				-#		.line_unit_price_val= number_with_precision(builder.object.unit_price, :precision => 2)
				-#		= builder.hidden_field :unit_price, :class => 'line_unit_price', :value => number_with_precision(builder.object.unit_price, :precision => 2)
				-#		= builder.hidden_field :fixed_rate, :class => 'fixed_rate', :value => number_with_precision(builder.object.fixed_rate, :precision => 2)
				-#		= builder.hidden_field :hours_rate, :class => 'hours_rate', :value => number_with_precision(builder.object.hours_rate, :precision => 2)
				-#	%td.line_t_price= number_with_precision(builder.object.total_price, :precision => 2, :delimiter => ',')
				
			%tr.total_line
				%td{:colspan => 6} Total
				%td.total_price= number_to_currency(@estimate.total_price)
				%td
			
	.actions
		= f.submit 'Save »' , :class => 'nice medium radius blue button'
		= link_to 'Cancel »', account_estimate_path(@account,@estimate), :class => 'nice medium radius white button'