%div{:class => "estimate-second-step negotiate #{hide_status(f)}"}
	- if params[:action] == 'edit'
		.row
			.div{:class => 'top notification ten columns'} Please review your estimate below. If you are okay with the pricing of a line item, click the thumbs-up button next to the line. If you'd like to make a counter-offer, click the thumbs-down button (where available) and enter your counter-offer and comments.

	%table{:class => "line_items second_step has_total estimate-#{params[:action]}"}
		%thead
			%tr
				%th.line_ck
				%th{:class => "col line_num"} Item #
				%th{:class => "col lock"}
					%span Lock
				%th{:class => "col line_name"} Description
				%th{:class => "col line_price_type"} Unit
				%th{:class => "col line_qty"} Qty
				%th{:class => "col line_u_price"} Unit Price
				%th{:class => "col line_t_price"} Line Total
				%th.line_links
		%tbody{:class => "selected connected"}
			%tr{:class => "no-sort drop-point"}
				%td{:colspan => 9} Selected below...
			%tr{:class => "no-sort sort-point hidden"}
				%td{:colspan => 9}
			= f.fields_for :line_items, @selected_line_items do |builder|
				= render 'line_item_fields', :f => builder

			- if signed_in_client.is_account_master
				%tr.add_lines
					%td.blank
					%td{:colspan => 7, :class => "desc blank"}= link_to_add_fields "Add lines", f, :line_items, :class => 'small radius button'
					%td.blank

			%tr.total_line
				%td.blank
				%td{:colspan => 6, :class => "desc blank"}
					- if params[:action] == 'edit' or params[:action] == 'update'
						%strong Total
					- elsif params[:action] == 'new' or params[:action] == 'create'
						%strong Full potential total
				%td{:class => "amount blank total_price"}
					%strong= number_to_currency(@estimate.total_price)
				%td.blank
			- if params[:action] == 'new' or params[:action] == 'create'
				%tr.client_view_total
					%td.blank
					%td{:colspan => 6, :class => "desc blank"}
						%strong Original client view
					%td{:class => "amount blank original_client_view"}
						%strong $0.00

		- if params[:action] == 'edit'
			%tbody{:class => "deselected connected"}
				%tr{:class => "no-sort drop-point"}
					%td{:colspan => 9} Deselected below...
				= f.fields_for :line_items, @deselected_line_items do |builder|
					= render 'line_item_fields', :f => builder


	- if params[:action] == 'edit' || params[:action] == 'update'
		= link_to 'Cancel', estimates_path, :class => 'medium radius alert button'
		- if !signed_in_client.is_account_master && !f.object.already_reviewed
			= link_to "&laquo; Back".html_safe, "#", :class => 'medium radius normal button back'

		= link_to "Next &raquo;".html_safe, "#", :class => 'medium radius success button next'
