= form_for([@account,@estimate], :html => {:class => 'nice'}) do |f|	
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:
				
			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg
	.row

		%div{:class => 'four columns client-address'}
			= @client.name
			%br
			= render 'clients/client_address'
		
		%div{:class => 'three columns offset-by-three'}
			%p
				%strong Estimate Number:
				= @estimate.number

			%p
				%strong Date:
				= @estimate.date
		

	%table{:class => 'line_items estimate_show'}
		%thead
			%tr
				%th
				%th.col Item #
				%th.col Description
				%th.col Unit
				%th.col Qty
				%th.col Unit Price
				%th.col Line Total
				%th
		%tbody
			= f.fields_for :line_items do |builder|
				= render 'line_item_fields', :f => builder
				
			%tr.total_line
				%td{:colspan => 6} Total
				%td.total_price= number_to_currency(@estimate.total_price)
				%td
			
	.actions
		= f.submit 'Save »' , :class => 'nice medium radius blue button'
		= link_to 'Cancel »', account_estimate_path(@account,@estimate), :class => 'nice medium radius white button'