= form_for(@estimate, :html => {:class => 'nice'}) do |f|
	- if @estimate.errors.any?
		#error_explanation
			%h2
				= pluralize(@estimate.errors.count, "error")
				prohibited this estimate from being saved:

			%ul
				- @estimate.errors.full_messages.each do |msg|
					%li= msg
	.row

		%div{:class => 'four columns client-address'}
			= @client.name
			%br
			= render 'clients/client_address'

		%div{:class => 'three columns offset-by-three'}
			%p
				%strong Estimate Number:
				= @estimate.number

			%p
				%strong Date:
				= @estimate.date


	%table{:class => 'line_items has_total estimate_show'}
		%thead
			%tr
				%th
				%th.col Item #
				%th{:class => "col lock"}
					%span Lock
				%th.col Description
				%th.col Unit
				%th.col Qty
				%th.col Unit Price
				%th.col Line Total
				%th
		%tbody
			= f.fields_for :line_items do |builder|
				= render 'line_item_fields', :f => builder

			%tr.total_line
				%td{:colspan => 7, :class => "desc blank"}
					%strong Total
				%td{:class => "amount total_price blank"}
					%strong= number_to_currency(@estimate.total_price)
				%td.blank

	.actions
		%div{:class => "accept-estimate row"}
			-if can_approve_estimate(f.object) && !signed_in_client.is_account_master
				.checkbox-btn
					= f.check_box :is_accepted
					= f.label :is_accepted, "Approve Estimate"
			-elsif !can_approve_estimate(f.object)
				%div{:class => "notification eight columns"} There are outstanding negotiations that have not been approved yet
			-elsif signed_in_client.is_account_master
				%div{:class => "notification eight columns"} Client has not yet approved estimate


		= f.submit 'Save »' , :class => 'medium radius success button'
		= link_to 'Cancel »', estimate_path(@estimate), :class => 'medium radius secondary button'