%h2 Your Estimates

%table
	%tr
		%th Number
		%th Date
		%th
		%th
		
	- @estimates.each do |estimate|
		%tr
			%td= estimate.number
			%td= estimate.date
			%td= link_to 'Show', estimate
			%td= link_to 'Delete', estimate, confirm: 'Are you sure?', method: :delete

%p= link_to 'New estimate', new_estimate_path