<h1>Listing estimates</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estimates.each do |estimate| %>
  <tr>
    <td><%= estimate.number %></td>
    <td><%= estimate.date %></td>
    <td><%= link_to 'Show', estimate %></td>
    <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
    <td><%= link_to 'Destroy', estimate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estimate', new_estimate_path %>
