%p#notice= notice

%p= link_to 'Edit Estimate', edit_estimate_path(@estimate)

%h3
	%strong Estimate Number:
	= @estimate.number

%p
	%strong Date:
	= @estimate.date

%table.line_items
	%tr
		%th Item #
		%th Description
		%th Qty
		%th Unit Price
		%th Line Total
	- @estimate.line_items.each do |line_item|
		%tr{:class => "is_enabled_#{line_item.is_enabled}"}
			%td.line_num= line_item.number
			%td.line_name= line_item.name
			%td.line_qty= line_item.quantity
			%td.line_u_price= number_to_currency(line_item.unit_price)
			%td.line_t_price= number_to_currency(line_item.total_price)
				
	%tr.total_line
		%td{:colspan => 4} Total
		%td.total_price
			= number_to_currency(@estimate.total_price)
		%td

%p	
	=button_to 'Add lines', line_items_path(:estimate_id => @estimate)

= link_to 'Back', estimates_path
