.row
	%p{:class => 'three columns offset-by-eight'}= link_to 'Edit Estimate »', edit_estimate_path(@estimate), :class => 'nice small radius blue button'

.row

	%div{:class => 'four columns client-address'}
		= @client.name
		%br
		= render 'clients/client_address'
		
	%div{:class => 'three columns offset-by-three'}
		%p
			%strong Estimate Number:
			= @estimate.number

		%p
			%strong Date:
			= @estimate.date
		

%table{:class => 'line_items estimate_show'}
	%thead
		%tr
			%th.col Item #
			%th.col Description
			%th.col Qty
			%th.col Unit Price
			%th.col Line Total
	%tbody
		- @estimate.line_items.each do |line_item|
			%tr{:class => "is_enabled_#{line_item.is_enabled}"}
				%td.line_num= line_item.number
				%td.line_name= line_item.name
				%td.line_qty= line_item.quantity
				%td.line_u_price= number_with_precision(line_item.unit_price, :precision => 2, :delimiter => ',')
				%td.line_t_price= number_with_precision(line_item.total_price, :precision => 2, :delimiter => ',')
				
		%tr.total_line
			%td{:colspan => 4} Total
			%td.total_price= number_to_currency(@estimate.total_price)
			%td