= form_for(@invoice_schedule) do |f|
	-if @invoice_schedule.errors.any?
		#error_explanation
			%h2
				= pluralize(@invoice_schedule.errors.count, "error")
				prohibited this invoice_schedule from being saved:
				
			%ul
				- @invoice_schedule.errors.full_messages.each do |msg|
					%li= msg
					
	.field
		= f.label :estimate_id
		= f.number_field :estimate_id
		
	.actions
		= f.submit