= form_for([@estimate,@invoice_schedule], :html => {:class => 'nice'}) do |f|
	-if @invoice_schedule.errors.any?
		#error_explanation
			%h2
				= pluralize(@invoice_schedule.errors.count, "error")
				prohibited this invoice_schedule from being saved:

			%ul
				- @invoice_schedule.errors.full_messages.each do |msg|
					%li= msg

	.field
		= "For estimate#: #{@estimate_number}"

	.row
		%p{:class => "nine columns notification"} Use the invoice schedule to automate the generation of invoices based on the agreed upon estimate total and a percent of the contract total you specify to be invoiced upon completion of a project milestone.


	%div{:class => "schedule-table row"}
		%table{:class => "six columns has_total"}
			%thead
				%tr
					%th
					%th
					%th

			%tbody
				= f.fields_for :invoice_milestones do |builder|
					= render 'invoice_milestone_fields', :f => builder
				%tr
					%td{:colspan => 3, :class => "desc"}= link_to_add_fields "Add lines", f, :invoice_milestones, :class => ""
				%tr
					%td.desc
						%strong Total
					%td{:class => 'total_percent table_total'}
						%strong= "#{@invoice_schedule.total_percent} %"
					%td

		%div{:class => "warning four columns"} Total must equal 100%

	-if (params[:action]) == 'new'
		= f.hidden_field :estimate_id, :value => @estimate.id

	.actions
		= f.submit 'Save »', :class => 'nice medium radius blue button'
		-if params[:action] == 'edit'
			= link_to "Cancel »", invoice_schedule_path(@invoice_schedule), :class => 'nice medium radius white button'
		-else
			= link_to "Cancel »", estimate_path(@estimate), :class => 'nice medium radius white button'