<h1>Listing invoice_schedules</h1>

<table>
  <tr>
    <th>Estimate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoice_schedules.each do |invoice_schedule| %>
  <tr>
    <td><%= invoice_schedule.estimate_id %></td>
    <td><%= link_to 'Show', invoice_schedule %></td>
    <td><%= link_to 'Edit', edit_invoice_schedule_path(invoice_schedule) %></td>
    <td><%= link_to 'Destroy', invoice_schedule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice schedule', new_invoice_schedule_path %>
