%p
	%strong Estimate #:
	= @estimate.number

.row
	%p.large-9.columns.notification Use the invoice schedule to automate the generation of invoices based on the agreed upon estimate total and a percent of the contract total you specify to be invoiced upon completion of a project milestone.

.row
	%table.large-6.columns
		%thead
			%tr
				%th
				%th
				%th

		%tbody
			- @invoice_schedule.invoice_milestones.each do |invoice_milestone|
				%tr
					%td= invoice_milestone.description
					%td= "#{invoice_milestone.estimate_percentage} %"
					%td
						-unless invoice_milestone.invoice_id
							= link_to 'Generate Invoice', :controller => 'invoices', :action => 'generateInvoiceFromMilestone', :invoice_milestone_id => invoice_milestone.id
						-else
							Invoice already generated
			%tr
				%td
					%strong Total
				%td.total_percent
					%strong= "#{@invoice_schedule.total_percent} %"
				%td


%ul.button-group.radius
	%li= link_to 'Edit Schedule »', edit_estimate_invoice_schedule_path(@estimate), :class => 'small button'
	%li= link_to 'Back to Estimate »', estimate_path(@estimate), :class => 'small button'