= form_for([@account,@invoice], :html => {:class => 'nice'}) do |f|
	-if @invoice.errors.any?
		#error_explanation
			%h2
				= pluralize(@invoice.errors.count, "error")
				prohibited this invoice from being saved:

			%ul
				- @invoice.errors.full_messages.each do |msg|
					%li= msg

	.row
		.field{:class => 'three columns'}
			= f.label :client_id
			= f.collection_select(:client_id, @clients, :id, :name, {:include_blank => true}, data: {'url-base' => account_clients_path(@account)})
			%p.address
				= render 'clients/client_address' if @invoice.client_id

		.field{:class => 'four columns offset-by-four'}
			= f.label :number
			= f.text_field :number, :class => 'input-text small'
			= f.label :date
			= f.date_select :date

	%div
		%table.line_items{:cellspacing => 4}
			%thead
				%tr
					%th.col Item #
					%th.col Description
					%th.col Unit
					%th.col Qty
					%th.col Unit Price
					%th.col Line Total
					%th

			%tbody
				= f.fields_for :line_items do |builder|
					= render 'line_item_fields', :f => builder
				%tr.add_lines
					%td{:colspan => 7, :class => "desc blank"}= link_to_add_fields "Add lines", f, :line_items, :class => 'small radius blue button'
				%tr.total_line
					%td{:colspan => 5, :class => "desc blank"}
						%strong Total
					%td{:class => "amount blank total_price"}
						%strong= number_to_currency(@invoice.total_price)
					%td.blank



	.actions
		= f.submit 'Save »' , :class => 'nice medium radius blue button'
		-if params[:action] == 'edit'
			= link_to 'Cancel »', account_invoice_path(@account,@invoice), :class => 'nice medium radius white button'
		-else
			= link_to 'Cancel »', account_invoices_path, :class => 'nice medium radius white button'