= form_for(@invoice, :html => {:class => ''}) do |f|
	-if @invoice.errors.any?
		#error_explanation
			%h2
				= pluralize(@invoice.errors.count, "error")
				prohibited this invoice from being saved:

			%ul
				- @invoice.errors.full_messages.each do |msg|
					%li= msg

	.row
		.field.large-3.columns
			= f.label :client_id
			= f.collection_select(:client_id, @clients, :id, :name, {:include_blank => true}, data: {'url-base' => clients_path}, :class => 'client_select')
			%p.address
				= render 'clients/client_address' if @invoice.client_id

		.field.large-3.columns.large-offset-4.end
			= f.label :number
			= f.text_field :number, :class => ''
			.date-select
				= f.label :date
				= f.date_select :date

	%div
		%table.line_items.has_total{:cellspacing => 4}
			%thead
				%tr
					%th.col Item #
					%th.col Description
					%th.col Unit
					%th.col Qty
					%th.col Unit Price
					%th.col Line Total
					%th

			%tbody
				= f.fields_for :line_items do |builder|
					= render 'line_item_fields', :f => builder
				%tr.add_lines
					%td.desc.blank{:colspan => 7}= link_to_add_fields "Add lines", f, :line_items, :class => 'small radius blue button'
				%tr.total_line
					%td.desc.blank{:colspan => 5}
						%strong Total
					%td.amount.blank.total_price
						%strong= number_to_currency(@invoice.total_price)
					%td.blank



	.actions
		-if params[:action] == 'edit'
			= link_to 'Cancel', invoice_path(@invoice), :class => 'medium radius alert button'
		-else
			= link_to 'Cancel', invoices_path, :class => 'medium radius alert button'

		= f.submit "Save &raquo;".html_safe , :class => 'medium radius success button'
