%h3 Invoices

.row
	%table.invoice.list.large-9.columns
		%thead
			%tr
				%th.col Invoice
				%th.col Client
				%th.col Date
				%th.col Total
				- if signed_in_client.is_account_master
					%th.col
					%th.col

		%tbody
			- @invoices.each do |invoice|
				%tr
					%td.invoice_number= link_to invoice.number, invoice_path(invoice)
					- if signed_in_client.is_account_master
						%td.desc.client_name= link_to invoice.client.name, client_path(invoice.client)
					-else
						%td.desc.client_name= invoice.client.name
					%td.invoice_date= invoice.date
					%td.amount.invoice_total= number_to_currency(invoice.total_price)
					-if signed_in_client.is_account_master
						%td= link_to 'Edit', edit_invoice_path(invoice)
						%td= link_to 'Delete', invoice_path(invoice), :data => { :confirm => 'Are you sure?' }, method: :delete

-if signed_in_client.is_account_master
	.row= link_to 'New Invoice »', new_invoice_path, :class => 'medium radius button'