%h3 Register New User

= form_for(@user, :html => {:class => 'nice'}) do |f|
	- if @user.errors.any?
		.error_messages
			%h4 Form is invalid
			%ul
				- for message in @user.errors.full_messages
					%li= message

	= f.hidden_field :client_id, :value => @client.id

	.field{:class => "row"}
		= f.text_field :email, :placeholder => "Email Address", :class => "input-text medium"

	.field{:class => "row"}
		= f.password_field :password, :placeholder => "Password", :class => "input-text medium"

	.field{:class => "row"}
		= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "input-text medium"

	.actions
		= f.submit 'Create User »', :class => 'nice medium radius blue button'
		= link_to 'Cancel »', site_url, :class => 'nice medium radius white button'