= form_for(@client, :html => {:class => 'row'}) do |f|
	- if @client.errors.any?
		#error_explanation
			%h2
				= pluralize(@client.errors.count, "error")
				prohibited this client from being saved:

			%ul
				- @client.errors.full_messages.each do |msg|
					%li= msg

	%fieldset.large-7.columns
		%legend Client address

		.field= f.text_field :name, :placeholder => "Client Name", :class => ''
		.field= f.text_field :address_street_1, :placeholder => "Street 1", :class => ''
		.field= f.text_field :address_street_2, :placeholder => "Street 2", :class => ''

		.field.row

			.large-6.columns= f.text_field :address_city, :placeholder => "City", :class => ''
			.large-3.columns= f.text_field :address_state, :placeholder => "State", :class => ''
			.large-3.columns= f.text_field :address_zip, :placeholder => "Zip Code", :class => ''

		.field= f.text_field :country, :placeholder => "Country", :class => ''

		-if (params[:action]) == 'new'
			= f.hidden_field :account_id, :value => @account.id
			= f.hidden_field :is_account_master, :value => false

			.user_fields
				= f.fields_for :users do |builder|
					= render 'user_fields', :f => builder

		.actions

			-if params[:action] == 'edit'
				= link_to 'Cancel', client_path(@client), :class => 'medium radius alert button'
			-else
				= link_to 'Cancel', clients_path, :class => 'medium radius alert button'

			= f.submit "Save &raquo;".html_safe , :class => 'medium radius success button'

