%h4= @client.name
= link_to 'Edit Client', edit_account_client_path(@account,@client)
	
%p
	%strong Address:
	%br
	= render 'client_address'

%p
	%h5 Contacts
	%ul
		- @users.each do |user|
			%li= user.email

%p= link_to 'Add Contact', new_user_path(:client_id => @client)
	
%p
	= link_to 'Create New Estimate', new_account_estimate_path(:client_id => @client), :class => "nice small radius blue button"
	= link_to 'Create New Invoice', new_account_invoice_path(:client_id => @client), :class => "nice small radius blue button"