.row
	.large-7.columns.large-centered
		.panel
			%h5 Please enter your email address below
			%p
				Please enter your email address into the field below so that we can locate your account.
			%p= "If you do not have an account, please #{link_to 'sign up', sign_up_path}.".html_safe

			= form_tag(:action => 'subdomain_found') do
				.field.row.collapse
					.large-6.columns
						= text_field_tag "email", nil, :placeholder => "Email address"
					.large-2.columns.end
						= submit_tag "Search", :class => 'button expand postfix'