%h2 Listing line_items

%table
	%tr
		%th Number
		%th Name
		%th Quantity
		%th Unit price
		%th Is enabled
		%th Estimate
		%th
		%th
		%th

	- @line_items.each do |line_item|
		%tr
			%td= line_item.number
			%td= line_item.name
			%td= line_item.quantity
			%td= line_item.unit_price
			%td= line_item.is_enabled
			%td= line_item.estimate_id
			%td= link_to 'Show', line_item
			%td= link_to 'Edit', edit_line_item_path(line_item)
			%td= link_to 'Destroy', line_item, :data => { :confirm => 'Are you sure?' }, method: :delete

%p= link_to 'New Line item', new_line_item_path