%p#notice= notice

%p
	%strong Number:
	= @line_item.number
	
%p
	%strong Name:
	= @line_item.name
	
%p
	%strong Quantity:
	= @line_item.quantity
	
%p
	%strong Unit price:
	= @line_item.unit_price
	
%p
	%strong Is enabled:
	=@line_item.is_enabled
	
%p
	%strong Estimate:
	=@line_item.estimate_id
	
= link_to 'Edit', edit_line_item_path(@line_item)
= link_to 'Back', line_items_path