!!!
%html
	%head
		%title Accountimize
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		
	%body{:class => @section_name}
		
		#header
			%ul.login_links
				%li= link_to 'Login', accounts_path
				%li= link_to 'Sign up', new_account_path
			%h1#logo
				= link_to 'Accountimize', site_path
			- if @header_trial
				%a.trial(href="#") Free 30-Day Trial
		
		#content
			= render 'layouts/inner_navigation'
			
			- if notice
				.row
					.alert-box{:class => "ten columns #{flash[:status]}"}
						= notice
						%a{:href => "", :class => "close"} &times;

			= yield
  
		#footer
			%p
				%span Software by
				%a.logo(href="#") 26Twelve Studio