!!!
%html
	%head
		%title Accountimize
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		
	%body
		
		#header
			%ul.login_links
				%li= link_to 'Login', estimates_path
			%h1#logo
				= link_to 'Accountimize', site_path
			- if @header_trial
				%a.trial(href="#") Free 30-Day Trial
		
		#content
			= yield
  
		#footer
			%p
				%span Software by
				%a.logo(href="#") 26Twelve Studio