!!!
%html
	%head
		%title Accountimize
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= favicon_link_tag

	%body{:class => @section_name}

		#header
			%ul.login_links
				- if current_user
					%li= link_to "Logout", log_out_path
					%li= link_to "Settings", edit_user_path(current_user)
					%li= "Hello #{current_user.first_name}"
				- else
					%li= link_to 'Login', accounts_url(:subdomain => false)
					%li= link_to 'Sign up', sign_up_url(:subdomain => false)

			%h1#logo
				= link_to 'Accountimize', site_url(:subdomain => false)
			- if @header_trial
				%a.trial(href="#") Free 30-Day Trial

		#content
			= render 'layouts/inner_navigation'

			- if notice
				.row
					.alert-box{:class => "ten columns #{flash[:status]}"}
						= notice
						%a{:href => "", :class => "close"} &times;

			= yield

		#footer
			%p
				%span Software by
				%a.logo(href="#") 26Twelve Studio