-#%h5.row Please enter your address below

- if (params[:action]) == 'new' || (params[:action]) == 'create'
	= f.hidden_field :is_account_master, :value => true
	= f.hidden_field :name, :value => @unique_account_master_name

.field{:class => 'row'}
	-#= f.label :address_street_1, 'Street 1'
	= f.text_field :address_street_1, :placeholder => "Street 1", :class => 'input-text large'

.field{:class => 'row'}
	-#= f.label :address_street_2, 'Street 2'
	= f.text_field :address_street_2, :placeholder => "Street 2", :class => 'input-text large'

.field{:class => 'row'}

	%div{:class => 'four columns'}
		-#= f.label :address_city, 'City'
		= f.text_field :address_city, :placeholder => "City", :class => 'input-text medium'

	%div{:class => 'three columns'}
		-#= f.label :address_state, 'State'
		= f.text_field :address_state, :placeholder => "State", :class => 'input-text small'

	%div{:class => 'three columns'}
		-#= f.label :address_zip, 'Zip'
		= f.text_field :address_zip, :placeholder => "Zip Code", :class => 'input-text small'
	
.field{:class => 'row'}
	-#= f.label :country, 'Country'
	= f.text_field :country, :placeholder => "Country", :class => 'input-text medium'
