= form_for(@account, :html => {:class => 'row'}) do |f|
	- if @account.errors.any?
		#error-explanation
			%h2
				= pluralize(@account.errors.count, "error")
				prohibited this account from being saved:

			%ul
				- @account.errors.full_messages.each do |msg|
					%li= msg

	%fieldset{:class => "seven columns"}
		%legend Please fill in your information below
		.field
			= f.text_field :name, :placeholder => "Company Name", :class => ''

		.client_fields
			= f.fields_for :clients, @account_master do |builder|
				= render 'client_fields', :f => builder

		.actions
			= f.submit 'Save »', :class => 'medium radius success button'
			= link_to 'Cancel »', @account, :class => 'medium radius secondary button'
