- if signed_in_client.is_account_master
	.row
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "drafts", :title => "Drafts", :type => "Estimate", :items => @drafts}
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "open-estimates", :title => "Open Estimates", :type => "Estimate", :items => @open_estimates}

	.row
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "approved-estimates", :title => "Approved Estimates", :type => "Estimate", :items => @approved}
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "invoices", :title => "Invoices", :type => "Invoice", :items => @invoices}

- else
	.row
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "open-estimates", :title => "Open Estimates", :type => "Estimate", :items => @open_estimates}
		= render :partial => 'dashboard_widget', :locals =>{:class_type => "invoices", :title => "Invoices", :type => "Invoice", :items => @invoices}

